
/*医院概况*/
#right_main>#survey{
	margin-top: 20px;
}

#right_main>#survey>.top_sur>a{
	float: right;
}

#right_main>#survey>.bot_sur{
	background-color: #FAFAF7;
	border-top: 1px solid #6BBB78;
}
#right_main>#survey>.bot_sur>a{
	line-height: 25px;
}
#right_main>#survey>.bot_sur>a:hover{
	color: #0045B7;
}

/*科室列表*/
#right_main>#department{
	margin-top: 20px;
}

#right_main>#department>.top_dep>a{
	float: right;
}
#right_main>#department>.bot_dep{
	background-color: #FAFAF7;
	border-top: 1px solid #6BBB78;
}
#right_main>#department>.bot_dep>a{
	display: inline-block;
	font-size: 14px;
	margin: 10px 5px 10px 0;
	background-color: #F7FEF7;
	border: 1px solid #CCCCCC;
	padding: 5px 5px; 
}
#right_main>#department>.bot_dep>a:hover{
	background-color: #66cc33;
	color: white;
}
/*<!-- 专家推荐 -->*/
#right_main>#expert{
	margin-top: 20px;
}

#right_main>#expert>.top_expert>a{
	float: right;
}

#right_main>#expert>.bot_expert{
	background-color: #FAFAF7;
	border-top: 1px solid #6BBB78;
	width: 100%
}

#right_main>#expert>.bot_expert>thead th{
	border-bottom: 2px dashed #016F97;
	padding: 10px 0;
}

#right_main>#expert>.bot_expert>tbody td{
	border-bottom: 1px dashed #CCCCCC;
	padding: 10px 0;
	text-align: center;
	color: #666666;
}
#right_main>#expert>.bot_expert>tbody td>a:hover{
	color: #339644;
}

#right_main>#expert>.bot_expert .table_last{
	width: 460px;
}
