body,h1,h2,ul,ol,p,table,th,td{
    margin: 0;
    padding: 0;
}

body{
    font: 14px '宋体';
/*  color: #666666;*/
}

a{
    font: 16px 'Microsoft Yahei';
    text-decoration: none;
    color: #666666;
}

img{
    vertical-align: middle;
}

ul,ol{
    list-style: none;
}

/*******导航栏*********/
#Navigation{
    height: 25px;
    background-color: #EFEFEF;
}

/********首部*********/
#head{
    background-color: #1F7150;  
}
#head>ul{
    width: 1200px;
    height: 70px;
    color: white;
    margin: 0 auto;
}
#head>ul>li{
    float: left;
    line-height: 70px;
    margin-right: 30px;
}
#head>ul>li>a{
    color: white;
}
/*左侧导栏部分*/

#head .l_Head a:hover{
    color: #08120D;
}
/*右侧登录部分*/
#head .r_Head{
    float: right;   
    position: relative;
    margin-right: 40px; 
}
#head .r_Head>img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
#head .r_Head>ul {
    display: none;
    width: 120px;
    position: absolute;
    left: -40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    overflow:　hidden;
    /*调整元素堆叠顺序*/
    z-index: 100;
    box-shadow: 0px 1px 16px 0 rgba(90, 109, 122, 0.41);
}
#head .r_Head>ul>li:hover{
    background-color: #1F7150;
}
#head .r_Head>ul>li:hover>a{
    color: white;
}

#head .r_Head>ul>span{
    display: block;
    color: #1F7150;
    border-bottom: 1px solid #D8DBE0;
}

#head .r_Head:hover>ul{
    display: block;
}

#head .r_Head>a{
    font-size: 14px;
}
#head .r_Head>a:hover{
    color: #08120D;
}

/********主体**********/
#main{
    width: 1200px;
    margin: 0 auto 60px auto;
}
#top{
    height: 20px;
    background-color: #F5F5F5;
}

/****主体左部信息*****/
#left_main{
    width: 230px;
    float: left;
}
/*公告*/
#left_main>#Notice{
    width: 208px;
    border: 1px solid #CCCCCC;
    border-top: 5px solid #1F7150;
    padding: 10px;
    line-height: 25px;
}
#left_main>#Notice>h2{
    margin-bottom: 10px;
}
/*随便添加一点图片*/
#left_main>#icon{
    margin: 20px 0;
}

/*<!-- 特色科室 -->*/
#left_main>#characteristic{
    width: 170px;
    border: 1px solid #CCCCCC;
    border-top: 5px solid #1F7150;
    padding: 5px;
    margin: 0 auto;
}
#left_main>#characteristic>h2{
    margin-bottom: 10px;
}
#left_main>#characteristic>div>a{
    display: block;
    font-size: 14px;
    margin: 10px 0;
    background-color: #F7FEF7;
    border: 1px solid #CCCCCC;
    padding: 5px;
    text-align: center;
}
#left_main>#characteristic>div>a:hover{
    background-color: #66cc33;
    color: white;
}

/****主体右部信息*****/
#right_main{
    width: 960px;
    float: right;
}
/*图片展示*/
#right_main>#dis_picture img{
    display: inline-block;
    width: 180px;
    height: 120px;
    margin: 0 5px 0 10px; 
}

/*主体右部添加样式*/

/***************/

/*主体内容高度支撑*/
#bottom{
    clear: both;
}