<!DOCTYPE html>
<html>
<head>
    <title>个人用户注册</title>
    <link rel="shortcut icon" href="/static/image/icon/hospital.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/Register.css">
    <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/static/js/Register.js"></script>

</head>
<body>
    <!-- 顶部导航栏 -->
    <div id="Navigation"></div>

    <div id="container">
         <!-- 首部 -->
        <div id="head">
            <ul>
                <li><img src="/static/image/hos-logo.gif"></li>
                <li class="head1">会员注册</li>
                <li class="head2">口腔医院欢迎您！</li>
                <li class="head3">请填写注册信息</li>
            </ul>
        </div>
        <div id="tip">
            完成注册，即刻享受专业化、个性化的健康管理、健康互助、导医会诊服务！
        </div>
        <!-- 注册主体 -->
        <div id="main">
            <form action="/Register" method="POST">
                <table>
                    <tr>
                        <td class="left">
                            <span>*</span> 用户名：
                        </td>
                        <td class="right">
                            <input type="text" name="user_name" maxlength="20">
                            <p>用户名支持字母、数字和下划线符号，长度为4-20,只能以字母开头</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            <span>*</span> 登录密码：
                        </td>
                        <td class="right">
                            <input type="password" name="password" maxlength="12">
                            <p>密码应是数字、字母、下划线组成,长度6-12</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            <span>*</span> 确认密码：
                        </td>
                        <td class="right">
                            <input type="password" name="r_password">
                            <p>请再次输入密码</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            <span>*</span> 电子邮箱：
                        </td>
                        <td class="right">
                            <input type="text" name="email">
                            <p>请输入常用邮箱，用来接收健康指导信息等</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            <span>*</span> 姓名：
                        </td>
                        <td class="right">
                            <input type="text" name="full_name">
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            <span>*</span> 手机：
                        </td>
                        <td class="right">
                            <input type="text" name="phone_num" maxlength="11">
                            <p>请正确填写手机号码</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            <span>*</span> 性别：
                        </td>
                        <td class="right">
                            <div id="sex">
                                <input type="radio" name="sex" value="male" checked>男
                                <input type="radio" name="sex" value="female">女
                            </div>
                        </td>
                    </tr>                 
                </table>
                <div id="accept">
                    <input type="submit" value="接受协议并注册">
                </div>
            </form>
            <div id="servitems">
                <textarea cols="80" rows="10">
一、服务协议
1、本协议中的网站是中国导医网（www.999120.net）；
2、本注册协议用于规范网站和网上使用者（简称：用户）之间的行为和关系，保护用户和网站双方的合法权益。
3、特别提醒，在您使用注册前请仔细阅读本协议，如果您对本协议的任何条款或将来随时可能修改、补充的条款有异议，您可以以选择不主持成为本网站的用户。
4、用户在本网站挂号、提问、搜索、查询及其他关联服务，即代表用户已经同意本注册协议；
5、本注册条款适用于网站提供的各种服务，但当您使用网站某一特定服务时，如该服务有单独的服务条款或规则，您应遵守本注册条款及网站随时公布的与该服务相关的服务条款、指引或规则等。除本条款另有其他明确规定，新推出的服务、增加或强化目前本服务的任何新功能，均受本注册条款规范。
6、用户选择完全同意所有注册条款并完成注册程序，即能成为本网站正式用户。
7、本网站有权在必要时修改本协议条款，协议条款一旦发生变动，将在用户界面提示修改内容，如用户不同意所作修改，可以主动取消获得的网络服务，进行注销。如用户继续享有网站提供的服务，则被视为接受注册条款变动。当发生争议时，以最新的注册协议为准。
8、用户应保证提供真实、准确的个人资料。注册成功后保管好自己的账户信息，因用户本人泄露造成的任何损失由用户本人负责。用户注册与使用应符合网络道德、遵守中华人民共和国的相关法律法规。 
9、用户的授权行为：对网站而言，用户账号信息是唯一严重用户真实性的依据，只要使用了正确的用户账号信息无论是谁登录均视为已经得到注册用户本人授权。
10、患者因故终止使用导医网服务系统：
1）会员权益未使用的（包括赠送的服务），10天内可全额退款，逾期不予退款；
2）就医咨询、定点医院预约服务启动，其他服务未启动；
    开卡30天内;
 按50%退款；
3）指定专家预约服务或就医陪诊启动，不论就诊还是就诊前取消，都视为已经启动该项服务；
开卡超过30天;
不予退款。
服务终止会员即不再享有导医网服务支持。

二、服务暂停、变更与中止条款
 1、鉴于网络服务的特殊性，网站有权随时变更、中断或终止部分或全部的网络服务。
 2、网站需要定期或不定期地对网络服务平台或相关设备进行检修或维护，因此类情况而造成网络服务在个例时间内中断、网站无需为此承担任何责任，但本网站会尽可能事先进行通告。
 3、如发生下列任意情形，网站有权随时中断或终止向用户提供本协议项下的网络服务而无需对用户或第三方承担任何责任；
（1）用户提供的个人资料不真实；
（2）用户违反本协议中规定的使用规则；
（3）网站认为其他不适宜的地方；
若用户因“用户提供资料不真实”而中断或终止服务不满，可以联系客户修正个人资料经核实后恢复账号使用。

三、温馨提示：
1）预约实名制就医，务必登记患者真实信息；
中国导医网预约挂号系统实行实名制预约。持卡人首次登记注册时请正确填写个人资料。由于会员提供的信息不正确导致得不到相应的服务，公司将不承担任何相关责任。
2）同一患者（有效证件）在同一就诊日、同一医院、同一科室只能预约1次；在同一就诊日的预约量不可超过2次；
3）预约需提前2-7个工作日提交客服；取消需提前2个工作日联系客服；
4）就医时患者需携带证件及近期相关检查病历资料；
5）陪诊为患者预约号源专家坐诊有效时段内，上午的门诊上午陪诊；下午的门诊下午陪诊；
6）患者所有的病情信息均自行提供，导医将完全根据患者提供的信息做出指导和建议，如果提供的信息有误，造成的任何后果由您自行承担。  
7）患者提供的信息，导医网有责任保证您的信息不泄露；
8）健康咨询服务不能代替到医院就诊，医生的回复也可能有延迟，尤其是患者病情严重或者发生急性症状和化验结果严重异常的情况下，都需要尽快就医，不能等待医生回复。  医生所提供咨询内容,仅作为指导和建议,是否采纳由患者家属自行决定,指导和建议不属于医院正式医嘱,不记录到患者病历中。
9）鉴于临床工作的特殊性，医生遇到抢救、急诊等特殊事件时，有可能延后甚至取消门诊。导医网客服将在获悉后第一时间通知您，出诊时间以医院当日公布出诊日期为准，由此产生的包括并不限于以下的问题导医网、医院、医生不予负责：
1）患者及家属交通、餐饮、住宿等费用；
2）患者延误门诊导致的病情延误；
3）以及其他由于门诊延误导致的问题。  
10）特需门诊与普通门诊的区别
特需半天患者10个左右，挂号费在100-300元，有些医院可能更高到500-1000元。虽然出诊的医生可能和普通门诊是一样的，价钱区别明细。但就医环境幽雅、人少安静，能比较详细的和专家进行沟通；
普通专家门诊 半天患者20个甚至几十个， 时间不充足，患者很难与专家进行较详细的沟通，挂号费在十几至几十块不等，就医环境嘈杂，人流穿息；
11)导医网提供的服务不包括医院的挂号费、检查费、治疗费以及您咨询相关服务的通话费等费用。   
12）导医网对以上内容拥有最终解释权；                    
                </textarea>
            </div>
        </div>
    </div>
</body>
</html>