<!DOCTYPE html>
<html>
<head>
	<title>广东省口腔医院预约挂号</title>
	<link rel="stylesheet" type="text/css" href="/static/css/Home.css">
	<link rel="stylesheet" type="text/css" href="/static/css/Section.css">
	<link rel="shortcut icon" href="/static/image/icon/hospital.ico" type="image/x-icon">
</head>
<body>
	<div id="st">
	<!-- 导航栏 -->
	<div id="Navigation"></div>
	<!-- 首部 -->
	<div id="head">
		<ul>
			<li>
				<a href="/Home">
					<img src="../static/image/logo.png">
				</a>
			</li>
			<li class="l_Head">
				<a href="/">首页</a>
			</li>
			<li class="l_Head">
				<a href="#">医院简介</a>		
			</li>	
			<li class="l_Head">
				<a href="#">科室介绍</a>
			</li>
			<li class="l_Head">
				<a href="#">专家介绍</a>
			</li>
			<li class="l_Head">
				<a href="#">预约挂号</a>
			</li>
			<li class="l_Head">
				<a href="#">在线咨询</a>
			</li>
			<li class="l_Head">
				<a href="#">地理位置</a>
			</li>
			<li class="l_Head">
				<a href="#">最新消息</a>
			</li>	
			<li class="r_Head">
				{% if params.userName %}
                欢迎你：{{params.userName}}
                <span> | </span>
				<a href="/Exit">[ 注销 ]</a>
                {% else %}
                <a href="/Login">[ 登录 ]</a>
				<span> | </span>
				<a href="/Register">[ 注册 ]</a>
                {% endif %}
			</li>					
		</ul>		
	</div>
	<!-- 主体 -->
	<div id="main">
		<!-- 顶部框 -->
		<div id="top"></div>
		<!-- 主体左部 -->
		<div id='left_main'>
			<!-- 最新公告 -->
			<div id="Notice">
				<h2>医院最新公告</h2>
				<marquee direction=up height="40" scrollamount="1" onmouseover=info1.stop() onmouseout=info1.start()>
                                    1、为不影响您的就医，请于就诊前1-14个工作日提交预约需求；
                                    2、网站信息仅供参考，具体出诊和收费情况以医院为准
                </marquee>
			</div>
			<!-- 随便添加一点图片 -->
			<div id="icon">
				<img src="../static/image/icon/icon_yuyuezhuyuan_grey.png">
				<img src="../static/image/icon/icon_daoyipeizhen_grey.png">
				<img src="../static/image/icon/icon_yuyuetijian_grey.png">
				<img src="../static/image/icon/icon_dingdianyiyuan_grey.png">
				<img src="../static/image/icon/icon_yuanchengxindian_grey.png">
			</div>
			<!-- 特色科室 -->
			<div id="characteristic">
				<h2>医院特色科室</h2>
				<div>
					{% for department in params.departments %}
                    {% if department.special %}
                        <a href="/details?id={{ department.id }}">{{ department.department }}</a>
                    {% endif %}
                    {% endfor %}
				</div>
			</div>
		</div>
		<!-- 主体右部 -->
		<div id='right_main'>
			<!-- 科室介绍 -->
			<div id="right_head">
				<span>您的位置：</span>
				<a href="/">首页>></a>
				<span>科室简介</span>
			</div>
			<!-- 科室详细介绍 -->
			<div class="deptlist">
				<ul>
					{% for department in params.departments %}
					<li>
						<span class="deptinfor">
							<b class="iconhot">HOT</b>
							{% if department.introduce %}
							<p>{{ department.introduce|truncate(50,true) }}
								<a href="/details?id={{ department.id }}" title="更多">更多</a>
							</p>
							{% endif %}
						</span>
						<span class="deptdoctor">
							<h2>
								<a href="/details?id={{ department.id }}" title="预约{{ department.department }}的医生">{{ department.department }}</a>
							</h2>
							<p class="left">
								<a href="#">李晓娜（女）</a>
								<a href="#">贾博（）</a>
							</p>
						<p class="right">33</p>
						</span>
					</li>
                    {% endfor %}
				</ul>
			</div>

		</div>
		<div id="bottom"></div>
	</div>
</body>
</html>