body, h1,h2,h3,h4,p,ul,li, table, td{
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle; 
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #666; 
}
a:hover{
    color: #1D9659;
}
span{
    display: inline-block;
}
/*****************************/
#container{
    margin: 0 auto;
    min-height: 900px;
    width: 1000px;
    border: 3px solid #1D9659;
}
#head{
    height: 100px;
    background-image: url(/static/image/doctor_login/top.jpg);
    background-size: 100% 100%;
}

#head a,#head h1{
    float: left;
    line-height: 100px;
}

#head img{
    height: 80px;
    width: 80px;
    margin-left: 30px;
}
#head h1{
    margin-left: 50px;
    color: #01A897;
    font-family: "宋体";
}
/*导航*/
#Navigation{
    height: 35px;
    background-color: #F8F8F8;
    line-height: 35px;
}

#Navigation .Nav_left{
    float: left;
    margin-left: 100px;
}
#Navigation .Nav_left li{
    float: left;
    margin-right: 25px;
}

#Navigation .Nav_right{
    float: right;
    margin-right: 10px;
}

#Navigation .Nav_right li{
    float: left;
    margin-right: 20px;
    color: #666;
}
/*中部内容s*/
#content{
    width: 1000px;
    margin-top: 30px;
}
#content h1{
    width: 500px;
    background-color: #E3F7E5;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 30px;
    line-height: 35px;
    color: #00724B;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    border-radius: 5px;
}
#content .form{

    margin: 10px auto;
    width: 850px;
    border: 1px solid #00724B;
}
#content .form p:first-child{
    padding: 10px 0;
}
#content .form p{
    margin-left: 15px;
}
#content .time{
    float: right;
    margin-right: 30px;
}
#content .cont{
    width: 760px;
    height: 80px;
    overflow: scroll;
    border: 1px solid #bbb;
    margin: 5px 15px;
}
#content textarea{
    margin: 5px 15px;
}
#content button{
    position: relative;
    left: 750px;
    margin-bottom: 8px; 
}
/*底部*/
#bottom{
    clear: both;
    margin-top: 30px;
}