
/****主体右部信息*****/
#right_main{
	width: 960px;
    float: right;
    border: 0.1px solid #ccc;
}

/* 设置右侧位置信息 */
#localtion{
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}
#localtion>a{
    font-size: 12px;
    color: black;
}
/* 位置信息中a的伪类选择器 */
#localtion>a:hover{
    color: #666;
    text-decoration: underline;
}

/* 设置提示信息样式 */
.tips{
    box-sizing: border-box;
    padding-left: 10px;
    width: 98%;
    border: 0.1px solid #ccc;
    height: 32px; 
    line-height: 32px;
    font-weight: bold;
    color: #4b8400;
    font-size: 14px;
}
.message{
    font-size: 12px;
    color:#666;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

/* 医生信息 */
.doctor_information{
    background: #F7F7F7;
    height: 141px;
    border: 0.1px solid #ccc;
    font-size: 12px;
    color: #666;
    width: 98%;
}
.doctor_img{
    float: left;
    width: 130px;
    text-align: center;
    line-height: 140px;
}
.doctor_info{
    float: left;
    height: 140px; 
    width: 800px;  
}
.div_info{
    height: 23px;
    line-height: 23px;
}
.div_info a{
    font-size: 12px;
    color: #4b8400;
}
.div_left{
    display: inline-block;
    width: 53%;
}
.cur_order{
    color: red;
}

/* 预约信息填写 */
.order_information{
    width: 98%;
    margin-top: 5px;
    font-size: 12px;
}
.order_information table{
    margin: 0 auto;
}
.order_information table tr{
    height: 40px;
    line-height: 40px;
}
.td_left{
    text-align: center;
    width: 100px;
}
.td_right{
    width: 500px;
}
.order_information input[type="text"]{
    width: 200px;
    height: 20px;
    outline: none;
}
.order_information input[type="submit"]{
    margin-left: 40px;
    width: 72px;
    height: 28px;
    border-radius: 5px;
    background: #F1FFE6;
}




/*主体内容高度支撑*/
#bottom{
	clear: both;
}