body, h1,h2,h3,h4,p,ul,li, table, td{
	margin: 0;
	padding: 0;
}
img{
	vertical-align: middle;	
}
ul{
	list-style: none;
}
.buttom{
	clear: both;
}
a{
	text-decoration: none;
	color: #666; 
}
a:hover{
	color: #1D9659;
}

.font_14{
	font-size: 14px;
}
.pad_10 p{
	padding-top: 2px;
	padding-bottom: 2px;
}
.width_80{
	width: 80px;
}
/*****************************/
#container{
	margin: 0 auto;
	width: 960px;
	border: 3px solid #1D9659;
}
#head{
	height: 100px;
	background-image: url(../static/image/doctor_login/top.jpg);
}

#head a,h1{
	float: left;
	line-height: 100px;
}

#head img{
	height: 80px;
	width: 80px;
	margin-left: 30px;
}

#head h1{
	margin-left: 50px;
	color: #01A897;
	 font-family: "宋体";
}
/*导航*/
#Navigation{
	height: 35px;
	background-color: #F8F8F8;
	line-height: 35px;
}

#Navigation .Nav_left{
	float: left;
	margin-left: 100px;
}
#Navigation .Nav_left li{
	float: left;
	margin-right: 25px;
}

#Navigation .Nav_right{
	float: right;
	margin-right: 20px;
}

#Navigation .Nav_right li{
	float: left;
	margin-right: 10px;
	color: #666;
}
/*科室列表*/
#depart_list{
	width: 11%;
	background-color: #E9F9EB;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}
#depart_list h4{
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
}
#depart_list li{
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 0;
}

/*排班*/
#main_right{
	width: 87%;
	margin-top: 5px;
	margin-left: 5px;
	border-left: 1px dotted #9CC889;
	float: left;

}
#main_right .dept_name{
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	border-bottom: 1px solid #CCCCCC;
}

/*排班表*/
#main_right table{
	border-collapse: collapse;
	font: 14px;
	text-align: center;
	margin: 10px 0 0px 10px;

}
#main_right .sort td{
	border: 1px solid #A1A2A5;
	padding: 10px 5px;
}
#main_right .sort .sort_set{
	color: blue;
}

#main_right .sort .number{
	width: 30px;
	color: #666;
	padding: 3px 0 3px 5px;  
}

#main_right .sort .date{
	color: red;
}
#main_right .sort .doctor{
	color: #0065A7;
}
#main_right .sort .btn{
	width: 45px;
	height: 25px;
	border-radius: 2px;
	margin-left: 5px;
}

#main_right .sort .ok{
	/*display: none;*/
	display: inline-block;
	margin-left: 10px;
	font-size: 20px;
	color: #1D9659;
	font-weight: bold;
}