<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海珠口腔医院预约挂号</title>
    <link rel="shortcut icon" href="/static/image/icon/hospital.ico" type="image/x-icon">
     {% block link %}
        <link rel="stylesheet" type="text/css" href="/static/css/Expert.css">
    {% endblock %}
</head>
<body>
    <div id="head">
        <div id="head_main">
            <p>{{params.doctor.name}}&nbsp;&nbsp;&nbsp;专家工作室</p>
            <p id="pp">
                所属医院：海珠口腔医院&nbsp;&nbsp;&nbsp;所属专科：{{params.department.department}}
            </p>
            <div id="pend">
                {% if params.userName %}
                    <img src="/static/image/Login.jpg">
                    <ul>
                        <span>{{params.userName}}</span>
                        <li>
                            <a href="/OrderInfo">预约信息</a>
                        </li>
                        <li>
                            <a href="/Sign_out">退出</a>
                        </li>
                    </ul>
                {% else %}
                    <a href="/Login">[ 登录 ]</a>
                    <span> | </span>
                    <a href="/Register">[ 注册 ]</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="main">
        <div id="left_main">
            <p>
                <a href="/expert?id={{params.doctor.id}}">专家首页</a>
            </p>
            <p>
                <a href="#">专家介绍</a>
            </p>
            <p>
                <a href="#">学术成就</a>
            </p>
            <p>
                <a href="#">成功案例</a>
            </p>
            <p>
                <a href="#">网上咨询</a>
            </p>
            <p>
                <a href="#">挂号列表</a>
            </p>
            <p>
                <a href="#">视频讲座</a>
            </p>
            <p>
                <a href="#">医生评价</a>
            </p>
            <p>
                <a href="#">所在医院</a>
            </p>
            <p>
                <a href="#">所在科室</a>
            </p>
            <p>
                <a href="#">预约挂号</a>
            </p>
            <p>
                <a href="#">预约住院</a>
            </p>
        </div>
        <div id="right_main">
            {% block inherit %}
            <!-- 专家简介  -->
            <div class="main">
                <div class="head">
                    <span>专家简介</span>
                    <a href="/ExpertDetails">[查看详细]</a>
                </div>
                <div id="photo"></div>
                <div id="doctor-information">
                    <p>
                        <span >医生姓名:{{params.doctor.name}}</span>
                        <span class="sp1">医生名称:{{params.doctor.title}}</span>
                    </p>
                    <p>
                        擅长治疗:{{params.doctor.skill}}
                    </p>
                    <p>
                        <span >挂号费用:{{params.doctor.price}}</span>
                        <span class="sp1">网上挂号:{{params.str}}</span>   
                    </p>
                    <p class="p1">
                       <a id="consult" href="/expertconsult?id={{params.doctor.id}}">我要咨询</a>
                       <a id="order">我要挂号</a> 
                    </p>
                </div>
            </div>
            <!-- 网上预约系统 -->
            <div class="main">
                <div class="head">
                    <span>网上预约系统</span>
                </div>
                <div id="title">
                    <a href="#">海珠口腔医院</a>
                    <span>></span>
                    <a href="#">{{params.department.department}}</a>
                    <span>{{params.doctor.title}}:</span>
                    <a href="#">{{params.doctor.name}} ({{params.doctor.sex}})</a>
                    <a href="#">[查看医生详细资料]</a>
                </div>
                <div id="content">
                    <p>
                        <span>医师专长：{{params.doctor.skill}}</span>
                        <span> 挂号费用:{{params.doctor.price}} 元</span>
                        <a href="/expertconsult?id={{params.doctor_id}}">[咨询此医生]</a>
                    </p>
                    <div class="appointment_cont">
                        <ul>
                            <li></li>
                            <li>出诊</li>
                            <li>日期</li>
                            <li></li>
                        </ul>
                        {% for time in params.doctor.timelines.order_by('date asc').limit(7).all() %}
                            <ul class="work_dates">
                                <li class="date">1月1日</li>
                                <li class="week">星期一</li>
                                <li>
                                    <span>上午</span>
                                    <span>下午</span>
                                </li>
                                <li>
                                    {% if time.am_status %}
                                        <a href="/Order?doctor_id={{time.doctor_id}}&date={{time.date}}&status=am" class="status_1">预约</a>
                                    {% else %}
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                    {% endif %}
                                    {% if time.pm_status %}
                                        <a href="/Order?doctor_id={{time.doctor_id}}&date={{time.date}}&status=pm" class="status_2">预约</a>
                                    {% else %}
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                    {% endif %}
                                </li>                    
                            </ul>
                        {% endfor %}                       
                    </div>
                    <div class="appointment_buttom"></div>
                </div>
            </div>
            <!--基本信息 -->
            <div class="main">
                <div class="head">
                    <span>基本信息</span>
                </div>
                <div id="base-content">
                    {{params.doctor.brief}}
                </div>
            </div>
            <!-- 最新咨询 -->
            <div class="main">
                <div class="head">
                    <span>最新咨询</span>
                    <a href="#">[更多 >>]</a>
                </div>
                <div id="new-consult">
                    <table>
                        <tr>
                            <th width="120">咨询者</th>
                            <th width="255">咨询主题</th>
                            <th width="200">咨询时间</th>
                            <th width="450">回复</th>
                        </tr>
                        {% for c in params.consults %}
                        <tr>
                            <td width="120">{{params.d[c.user_id]}}</td>
                            <td width="255">{{c.theme}}</td>
                            <td width="200">{{c.consult_time}}</td>
                            <td width="450">{{c.reply}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- 最新预约 -->
            <div class="main">
                <div class="head">
                    <span>最新预约</span>
                    <a href="#">[更多 >>]</a>
                </div>
                <div id="new-order">
                    <table>
                        <tr>
                            <th width="130">序号</th>
                            <th width="150">挂号者</th>
                            <th width="395">挂号时间</th>
                            <th width="230">就诊时间</th>
                        </tr>
                    </table>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
</body>
</html>