{% extends "Hisindex.html" %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/Hisindex.css">
    <link rel="stylesheet" type="text/css" href="/static/css/Hisconsult.css">
    <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/static/js/Hisconsult.js"></script> 
{% endblock %}
        {% block inherit %}
        <div id="content">
            <h1>最新咨询</h1>
            {% for c in params.consults %}
            <div class="form">
                <p>
                    <input type="hidden" value="{{c.id}}">
                    <span class="xuhao">序号:&nbsp;&nbsp; {{params.d[c]}}</span>
                    <span class="time">咨询时间 :&nbsp;&nbsp;&nbsp;&nbsp;{{c.consult_time}}</span>
                </p>
                <p>咨询内容:</p>
                <p class="zixun">{{c.content}}</p>
                <p > 回复:</p>
                <p>
                    <textarea class="textarea" cols="75" rows="2"></textarea>
                </p>
                <p>
                    <button class="sub">确认</button>
                </p>
            </div>
            {% endfor %}   
        </div>
        {% endblock %}
        