<!DOCTYPE html>
<html>
<head>
    <title>海珠口腔医院预约挂号</title>
    {% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/Hisindex.css">
    {% endblock %}
</head>
<body>
    <div id="container">
        <div id="head">
            <a href="#">
                <img src="/static/image/hos_logo.png">
            </a>
            <h1>海珠口腔医院医护系统</h1>
        </div>
        <div id="main">
            <!-- 导航 -->
            <div id="Navigation">
                <ul class="Nav_left">
                    <li>
                        <a href="/Hisindex">首页</a>
                    </li>
                    <li>
                        <a href="#">查看预约信息</a>
                    </li>
                    <li>
                        <a href="/Hisconsult?doctor_id={{params.doctor_id}}">查看咨询信息</a>
                    </li>
                </ul>
                <ul class="Nav_right">
                    <li>{{params.username}}</li>
                    <li>
                        <a href="/His_Sign_out">[退出]</a>
                    </li>
                </ul>
            </div>
        </div>
        {% block inherit %}
            <div id="content">
                <h1>你有{{params.num}}条咨询信息没回复</h1>
            </div>
        {% endblock %}
        <div id="bottom"></div>
    </div>
</body>         