<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人登录中心</title>
    <link rel="stylesheet" type="text/css" href="/static/css/Login.css">
    <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/static/js/Login.js"> </script>
    <script type="text/javascript">
        $(function(){
            // 当上次选择记住密码时返回的数据
            {% if params.userName %}
                $('.pwd').val( '{{params.password}}' )
                $('.user').val( '{{params.userName}}' )
            {% endif %}
        })      
    </script>
</head>
<body>
    <div id="container">
        <!-- 顶部导航栏 -->
        <div id="Navigation"></div>

        <!-- 首部 -->
        <div id="head">
            <div class="header">
                <a href="/">
                    <img src="/static/image/logo.png">
                </a>            
                <h1>牙齿健康管理登录</h1>
                <a href="#">帮助中心</a>
            </div>
        </div>

        <!-- 登录主体 -->
        <div id="main">
            <form action="/Login" method="POST">
                <ul>
                    <li>
                        <h2>个人用户登录</h2>
                    </li>
                    <li>
                        <span>用户名</span>
                        <input class="user" type="text" name="uname">
                    </li>
                    <li>   
                        <span>密码</span>
                        <input class="pwd" type="password" name="upsw" placeholder="请输入6-12位字符" maxlength="12">
                    </li>
                    <li>
                        <span>验证码</span>
                        <input class="yzm" type="text" name="yzm" maxlength="6">
                        <div id="yzm"></div>
                    </li>
                    {% if params == 'Error' %}
                        <li class="error">账号或密码错误</li>
                    {% endif %}
                    <li class="other">
                        <span></span>
                        <p>
                            <input type="checkbox" name="remember" value="Yes" checked/>
                            <span>记住密码</span>
                            <a href="#">忘记密码</a>
                            <a href="#">快捷登录</a>
                        </p>
                    </li>
                    <li class="btn">
                        <span><input type="hidden" name="last_url" value="{{params.resp}}">
                        </span>
                        <p>
                            <input type="submit" value="登录">
                            <input type="button" name="register" value="注册">
                        </p>
                    </li>
                </ul>
            </form> 
            <img src="../static/image/photo.jpg">
        </div>
    </div>
</body>
</html>