{% extends 'Home.html' %}

{% block link %}
	<link rel="stylesheet" type="text/css" href="/static/css/Public.css">
	<link rel="stylesheet" type="text/css" href="/static/css/Section.css">
{% endblock %}

{% block inherit %}
	<!-- 科室介绍 -->
	<div id="right_head">
		<span>您的位置：</span>
		<a href="/">首页>></a>
		<span>科室简介</span>
	</div>
	<!-- 科室详细介绍 -->
	<div class="deptlist">
		<ul>
			{% for department in params.departments %}
			<li>
				<span class="deptinfor">
					<b class="iconhot">HOT</b>
						<p>							
							{{ params.dep_introduce[department.id]|truncate(50,true) }}
							<a href="/details?id={{ department.id }}" title="更多">更多</a>
						</p>
				</span>
				<span class="deptdoctor">
					<h2>
						<a href="/details?id={{ department.id }}" title="预约{{ department.department }}的医生">{{ department.department }}</a>
					</h2>
					<p class="left">
						{% for d in department.doctors.limit(2).all() %}
							<a href="#">{{d.name}}（{{d.sex}}）</a>
						{% endfor %}
					</p>
				<p class="right">{{department.doctors.count()}}</p>
				</span>
			</li>
            {% endfor %}
		</ul>
	</div>
{% endblock %}
